<!doctype html>
<html prefix="og: http://ogp.me/ns#">
  <head>
{% block standard_tags %}{% endblock %}  
{% block open_graph_tags %}{% endblock %}
{% block twitter_tags %}{% endblock %}
  </head>
  <body>
{% if include_body %}
    <img src="{{img_url}}" alt="An image associated with {{title}} by {{author}}"/>
    <h1><a href="https://www.ascribe.io/app/{{endpoint}}/{{item_id}}">{{title}}</a></h1>
    <h2>by {{author}}</h2>
    <p>{{description}}</p>
    <footer>
      <p><a href="https://www.ascribe.io/">ascribe</a></p>
    </footer>
{% endif %}
  </body>
</html>
